/* adapted from http://d.alistapart.com/holygrail/example_4.html */
 body {
    margin: 0;
    padding-left: 200px;
    /* LC fullwidth */
    padding-right: 190px;
    /* RC fullwidth + CC padding */
    min-width: 240px;
    /* LC fullwidth + CC padding */
}
#header, #footer {
    margin-left: -200px;
    /* LC fullwidth */
    margin-right: -190px;
    /* RC fullwidth + CC padding */
    text-align: center;
    padding: 0.3em 0;
}
.column {
    position: relative;
    float: left;
}
#center {
    padding: 0 20px;
    width: 100%;
}
#left {
    width: 180px;
    /* LC width */
    padding: 0 10px;
    /* LC padding */
    right: 240px;
    /* LC fullwidth + CC padding */
    margin-left: -100%;
}
#right {
    width: 130px;
    /* RC width */
    padding: 0 10px;
    /* RC padding */
    margin-right: -100%;
}
#footer {
    clear: both;
}
/*** IE Fix ***/
 * html #left {
    * left: 150px;
    /* RC fullwidth */
}
