sidebar_b {
	background-color: #6E5654;
}

content_t {
	color: #0F0F0B;
}

content_b {
	background-color: #E5E5E5;
}

header_t {
	color: #6E5654;
}

header_b {
	background-color: #BFCADC;
}

navitem_b {
	background-color: #FFBC8B;
}

navitem_th {
	color: #0F0F0B;
}

footer_b {
	background-color: #8E879C;
}

navitem_bh {
	background-color: #E9A09D;
}

navitem_t {
	color: #607043;
}

