footer_b {
	background-color: #5DA6A6;
}

navitem_bh {
	background-color: #94528C;
}

content_t {
	color: #020202;
}

header_b {
	background-color: #A2B8F9;
}

header_t {
	color: #787777;
}

sidebar_b {
	background-color: #FFC4C4;
}

navitem_t {
	color: #A2B8F9;
}

content_b {
	background-color: #F8FAFF;
}

navitem_b {
	background-color: #C4FFC4;
}

navitem_th {
	color: #C4FFFF;
}

