.treeView{
        -moz-user-select:none;
      /*  position:relative; */
      }

      .treeView ul{
        margin:0 0 0 -1.5em;
        padding:0 0 0 1.5em;
      }

      .treeView ul ul{
        background:url('list-item-contents.png') repeat-y left;
      }

      .treeView li.lastChild > ul{
        background-image:none;
      }

      .treeView li{
        margin:0;
        padding:0;
        background:url('list-item-root.png') no-repeat top left;
        list-style-position:inside;
        list-style-image:url('button.png');
        cursor:auto;
      }

      .treeView li.collapsibleListOpen{
        list-style-image:url('button-open.png');
        cursor:pointer;
      }

      .treeView li.collapsibleListClosed{
        list-style-image:url('button-closed.png');
        cursor:pointer;
      }

      .treeView li li{
        background-image:url('list-item.png');
        padding-left:1.5em;
      }

      .treeView li.lastChild{
        background-image:url('list-item-last.png');
      }

      .treeView li.collapsibleListOpen{
        background-image:url('list-item-open.png');
      }

      .treeView li.collapsibleListOpen.lastChild{
        background-image:url('list-item-last-open.png');
      }

