p { font-family: 'WebFont', Arial, sans-serif; }


@font-face {
    font-family: 'chantelli_antiquaregular';
    src: url('chantelli_antiqua-webfont-webfont.eot');
    src: url('chantelli_antiqua-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('chantelli_antiqua-webfont-webfont.woff') format('woff'),
         url('chantelli_antiqua-webfont-webfont.ttf') format('truetype'),
         url('chantelli_antiqua-webfont-webfont.svg#chantelli_antiquaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'juramedium';
    src: url('jura-medium-webfont.eot');
    src: url('jura-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('jura-medium-webfont.woff') format('woff'),
         url('jura-medium-webfont.ttf') format('truetype'),
         url('jura-medium-webfont.svg#juramedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noticia_textregular';
    src: url('noticiatext-regular-webfont.eot');
    src: url('noticiatext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('noticiatext-regular-webfont.woff') format('woff'),
         url('noticiatext-regular-webfont.ttf') format('truetype'),
         url('noticiatext-regular-webfont.svg#noticia_textregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
